/* fuentes */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   /* font-family: 'Urbanist', sans-serif; */
   font-family: 'Plus Jakarta Sans', sans-serif;

   
}

/* selecciona a del ultimo li */
.navbar-nav li:last-child > a {
    background-color: #353535;
    color: white;
    padding: 12px;
    border-radius: 30px;
    font-weight: 600;
    letter-spacing: 0.5px;
    width: 100px;
    text-align: center;
}

/* efecto botón */
.navbar-nav li:last-child > a:active{
    transform: scale(0.95); /* Reduce el tamaño */
}


/* selecciona a del primer li */
.navbar-nav li:first-child > a {
    color: black;
}



.nav-item{
    margin: 0 5px;
}


/*  selección de todos los li menos el ultimo */
.nav-item:not(:last-child):hover{
    border-bottom: 2px solid #353535;
}
/* cambia el background al hacer click */
.nav-item:not(:last-child):active{
    background-color: #ffd124;
    transform: scale(0.95); /* Reduce el tamaño */

}


.nav-link{
    font-size: 1rem;
    font-weight: 500;
}

/* card perfil */

.img-perfil{
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    text-align: center;
    background-color: #ffd124;
    width: 95%;
    border-radius: 20px;
   
}

.texto{
    margin-bottom: 10vh;
}

.texto .nombre{
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: black;
}

.texto description{
    font-size: 40px;
    letter-spacing: 1.5px;
    font-weight: 300;
    color: black;
}


.img-perfil img{

    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5vh;
    
}

/* portfolio */

.portfolio{
    margin-top: 10vh;
}

.title{
    background-image: url(https://si-portfolios.fra1.cdn.digitaloceanspaces.com/SPA-Assets/Stryds/Version-2/hero-image.webp);
    background-position: center;
    width: 95%;
    font-size: 30px;
    color: black;
    letter-spacing: 1.2px;
    font-weight: 600;
    margin-top: 10vh;
    color: white;
    text-align: center;
}

.port{
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.port:hover {

    transform: scale(1.2);
    filter: grayscale(1);

}


.port img{
    width: 100%;
  height: auto;
  margin-top: 8vh;
}

/* sobre mi */

.about-me{
    margin-top: 10vh;
    /* background-color: #02010A; */
    width: 65%;
    text-align: justify;
    border-radius: 45px;
    /* #00A6A6  light sea green */
}

.about-me h3{
    color: #070707;
    padding: 5px;
    margin-top: 5px;

}

.about-me p{
    padding: 20px;
    font-size: 18px;
    color: #070707;
}

/* contacto */

.form form{

    width: 50%;
    margin: 0 auto;
    background-color: #ffd124;
    padding: 30px;
}

.form form label{
    padding: 5px;
    font-size: large;
    font-weight: 500;
    color: #070707;
}

.form form button{
    margin-top: 5vh;
    background-color: #070707;
    color: white;
}


/* footer */


.foot{
    margin-top: 20vh;
}

.foot .row{
    justify-content:space-between;
    margin-bottom: 10vh;
}

.row h6{
    margin-bottom: 15px;
}

.dir, .redes{
    text-align: center;
    font-size: smaller;
}

.redes a{
    margin: 5px;
}

/* efecto sobre iconos */
.redes a img:hover{
    transform: scale(0.95)
}


.copyright{
    text-align: center;
    font-size: small;
    padding: 10px;
    margin-top: 5vh;
}


